services:
  jenkins:
    container_name: jenkins
    build: .
    image: jenkins/jenkins:dfcc
    ports:
      - "8080:8080"
      - "50000:50000"
        #    environment:
        #      - JENKINS_OPTS=--httpListenAddress=0.0.0.0
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - net
networks:
  net:
